body {
    background: #f8f9fa;
}
.navbar-brand img {
    width: 50px;
    height: 100%;
}
#navbar {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    background: linear-gradient(to bottom, #00c6ff, #0062cc); 
}
.container{background:#fff; border-radius: 10px; }

/* profile */
.main-secction {
    box-shadow: 10px 10px 10px;
}
.image-section img {
    width: 100%;
    max-height: 250px;
    position: relative;
}
.user-image img {
    min-width: 300px;
    min-height: 300px;
}

.user-profil-part {
  
    background-color: #FAFAFA;
}

    /* register*/
    .register  {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        background: linear-gradient(to bottom, #00c6ff, #0062cc);
        max-height: 700px; 
    }
    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
        border-top-right-radius: 10% 50%;
        border-bottom-right-radius: 10% 50%;
        min-height: 500px;
        max-height: 600px;
    }
    .register img {
        height: 630px;
    }
   .register-heading {
       text-align: center
   }

    .register-left img {
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }
 /*login */ 
 .login-block{
    background: -webkit-linear-gradient(to bottom, #00c6ff, #0062cc);  
    background: linear-gradient(to bottom, #00c6ff, #0062cc); 
    float:left;
    width:100%;
    }
 
    .carousel-inner
        {border-radius:0 10px 10px 0;}
    .carousel-caption
        {text-align:left; left:5%;}
    .login-sec
        {position:relative;}
     .copy-text
        {position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
    .banner-text
        {width:70%; position:absolute; bottom:40px; padding-left:20px; color: black;}